<h1>Basics</h1>
<ul>
  <li>
    <h3>¿Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?</h3>
    <p>Un resource es cualquier tipo de información que pueda ser nombrada como por ejemplo un documento, una imagen incluso otras colecciones de resources.</p>
    <p>REST usa un resource identifier para identificar el resource involucrado en la interaccion entre componentes.</p>
  </li>
  <li>
    <h3>¿Qué puede hacerse con un resource?</h3>
    <p>Estos resource se pueden manipular, acceder, mediante una interfaz estándar e intercambian representaciones de los mismos.</p>
  </li>
  <li>
    <h3>¿Qué es RESTful routing?</h3>
    <p>RESTful routing es un estándar usado en muchos lenguajes de programación para crear rutas eficcientes y reusables y apunta a los metodos HTTP(GET, POST,PATCH, DELETE) y las acciones CRUD(Create, Read, Update, Delete).</p>
    <p>Haciendo facil para otros desarrolladores entender y navegar la aplicación de una manera limpia y consistente.</p>
  </li>
  <li>
    <h3>¿Cuántas acciones básicas tiene esta filosofía?</h3>
    <p>Esta filosofía cuenta con 7 acciones basícas.</p>
  </li>
  <li>
    <h3>¿Cuáles son?</h3>
    <ul>
      <li>Index</li>
      <li>Show</li>
      <li>New</li>
      <li>Create</li>
      <li>Edit</li>
      <li>Update</li>
      <li>Destroy</li>
    </ul>
  </li>
  <li>
    <h3>¿Cuáles verbos HTTP se utilizan en cada una de ellas?</h3>
    <ul>
      <li>Index corresponde a GET</li>
      <li>Show corresponde a GET</li>
      <li>New corresponde a GET</li>
      <li>Create corresponde a POST</li>
      <li>Edit corresponde a GET</li>
      <li>Update corresponde a PATCH</li>
      <li>Destroy corresponde a DELETE</li>
    </ul>
  </li>
</ul>
